---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  serviceSubnet: {{ service_network_cidr }}
  podSubnet: {{ pod_network_cidr }}
apiServer:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
controllerManager:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  ignorePreflightErrors:
  - NumCPU