---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: {{ kubeadm_token }}
    apiServerEndpoint: {{ kubeadm_apiserver }}
    caCertHashes:
      - {{ kubeadm_hash }}
nodeRegistration:
  name: {{ node_hostname }}
  kubeletExtraArgs:
    cloud-provider: {{ cloud_provider }}